.button1a, .button1b, .button2, .button3 {
	width: 250px;
	height: 100px;
	position: absolute;
	text-align: center;
	font-family: VERDANA;
	line-height: 100px;
	font-size: 20px;
}

.button1 {
	width: 250px;
	height: 100px;
	transform-style: preserve-3d;
	transition: transform 1s;
	margin-left: 350px;
	margin-top: 60px;
}
.button1:hover {
	transform: rotateX(90deg);
}

.button1a {
	background: linear-gradient(to top, coral, orange);
	transform: translateZ(50px);
	box-shadow: inset 0px 0px 10px 1px FireBrick;
}

.button1b {
	background: linear-gradient(0deg, #cfecd0, #a0cea7, #9ec0db);
	transform: translateY(50px) rotateX(-90deg);
	box-shadow: inset 0px 0px 10px 5px #7FFFD4;
}

.button2 {
	background: linear-gradient(to top, orange, yellow);
	margin-left: 150px;
	margin-top: 100px;
	transition: transform 2s;
	box-shadow: inset 0px 0px 10px 10px orange;
}
.button2:hover {
	transition: transform 2s;
	transform: scale(2) translate(100px);
}

.button3 {
	background: linear-gradient(to top, #b9deed, #efefef);
	margin-left: 550px;
	margin-top: 100px;
	box-shadow: inset 0px 0px 10px 10px #b9deed;
	transition: border-radius 2s, font-size 2s;
}
.button3:hover {
	border-radius: 50%;
	font-size: 30px;
	transition: font-size 2s, border-radius 2s;
}