div {
	width: 150px;
	height: 150px;
	position: absolute;
	text-align: center;
	font-size: 20px;
	margin-top: 100px;
}

.block1 {
	background: #ea212d;
	left: 20px;
}
.block1:hover {
	transform: rotate(45deg);
}

.block2 {
	background: #fd7f36;
	left: 190px;
}
.block2:hover {
	transform: scale(0.5);
}

.block3 {
	background: #fef035;
	left: 360px;
}
.block3:hover {
	transform: scale(2);
}

.block4 {
	background: #b6e438;
	left: 530px;
}
.block4:hover {
	transform: skewY(20deg);
}

.block5 {
	background: #2daf51;
	left: 700px;
}
.block5:hover {
	transform: translate(30px, 30px);
}