.diagram {
	width: 300px;
	height: 300px;
	display: flex;
	align-items: flex-end;
	margin: 40px;
}
.diagram > div {
	flex: 1;
	margin: 5px;
	text-align: center;
}
.diagram b {
	position: relative;
	top: -20px;
}